body {
  overflow: hidden;
}

.header {
  padding: 6px 0;
  background-color: #fafafa;
  -webkit-box-shadow: 0 3px 5px -6px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0 3px 5px -6px rgba(34, 60, 80, 0.6);
  box-shadow: 0 3px 5px -6px rgba(34, 60, 80, 0.6);
  z-index: 99;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
}

.button {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  transition: .05s ease 0s;
  z-index: 19;

  &:hover {
    background-color: rgba(#000, .15);
  }
}
