.white {
  background-color: #fff;

  & .header {
    background-color: #fafafa;
  }

  & .button svg {
    fill: #000;
  }
}

.black {
  background-color: #202020;

  & .header {
    background-color: #282828;
  }

  & .button svg {
    fill: #fff;
  }
}

.blue {
  background-color: #fff;

  & .header {
    background-color: #2967e2;
  }

  & .button svg {
    fill: #fff;
  }
}

.red {
  background-color: #fff;

  & .header {
    background-color: #FF0046;
  }

  & .button svg {
    fill: #fff;
  }
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 18;
  width: 100%;
  padding: 6px 0;
  background-color: #fafafa;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
}

.button {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  transition: .05s ease 0s;
  z-index: 19;

  &:hover {
    background-color: rgba(#000, .15);
  }
}

.main {
  display: flex;
  justify-content: space-between;
  position: relative;
}

project-side-menu {
  min-width: 250px;
  z-index: 15;
}

project-side-menu[open=true] {
  pointer-events: auto;
}

project-side-menu[open=false] {
  pointer-events: none;
}

todo-content {
  width: calc(100% - 280px);
}

@media (max-width: 900px) {
  project-side-menu {
    position: absolute;
  }

  todo-content {
    width: 100%;
  }
}

@media (max-width: 480px) {
  project-side-menu {
    min-width: 100%;
  }
}

add-project-popup {
  position: relative;
  z-index: 19;
}